*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}
/* Achtergrond kleur voor de body: wit */

.first-nav { 
    background-color: black;
}
/* bovenste navigatiebar met als achtergrondkleur zwart */

.first-nav ul {
    display: flex;
    justify-content: right;
}
/* Met flexbox komen de li naast elkaar en ze worden door justify-content gecentreerd */

.first-nav a {
    color:#fff; 
    line-height: 3.5em;   
}
/* De kleur van de text in de navbar */


.logo-above {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
/* Logo krijgt een width van 10%. Met de cursor pointer verandert de pointer in een 'hand' als met de muis over de logo wordt gegaan */

.child-logo-above {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 3em;
    width: 10em;
    margin-left: 1.5em;
    cursor: pointer;

}
/* child (logo  zelf) wordt nu in een colom geplaatst samen met de ondertitel */

.undertitle {
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: 'inter' sans-serif;
    text-transform: uppercase; 
    font-size: 12px;
    margin-left: 1em;
}
/* to do: aanpassen van de lettertype overeenkomstig figma */


.donate {
    display: grid;
    grid-column-start: 2;
    width: 91px;
    height: 28px;
    margin-top: 3%;
    margin-right: 20px;
    cursor: pointer;
}
 
.image-button {
    width: 91px;
    height: 26px;
}

nav {
    text-align: center;
    font-family: "Merriweather", system-ui;
    font-size: 13px;
    letter-spacing: 1px;
    color: black;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
}
/*Met list: style none krijg je geen puntjes op je lijst*/

nav ul li a {
    text-decoration: none;
    color: black;
   }

hgroup {
    display: grid;
    grid-template-rows: 3fr 1fr 2fr 1fr 1fr;
    grid-template-columns: 2fr .125fr;
    grid-row: 1/2;
    margin-left: 10em;
}

.text-1 {
    grid-row: 2/3;
}

.header-1 {
    grid-row: 3/4;
    font-size: 50px;  
}

.text-2 {
    grid-row: 4/5;
}

.text-3 {
    grid-row: 5/6;
}


.img-cola {
    display: flex;
    align-items: end;
}


.body-text {
    display: grid;
    grid-template-columns: .125fr 1fr;
    margin-top: 10em;
    margin-left: 10em;
    
}

.img-cola {
    grid-column: 1/2;
}

.paragraph-1 {
    grid-column: 1/2;
    margin-left: 10em;
}

.header-2 {
    grid-column: 1/2;
}

q {
    grid-column: 1/2;
}

/* article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 3fr .5fr;

} */